<h1>Coaching#answer</h1>
<p>Find me in app/views/coaching/answer.html.erb</p>
<img src="https://raw.githubusercontent.com/lewagon/karr-images/master/coach-answer-1.png" alt="">
<%= link_to "Ask a new question", '/ask' %>
